# Binaries
pouch
*.exe
*.dll
*.so
*.dylib

# Data
data/
*.db
*.db-journal
*.db-wal

# Test Data
data_test*/
test_data*/

# Build artifacts
ui/dist/
ui/node_modules/

# OS specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Environment
.env

# build output
pouch
